# BANKs

In [41]:
import os
import numpy as np
import pandas as pd

In [42]:
os.listdir('../data')

['bank-full.csv',
 'bank-names.txt',
 'bank.csv',
 'bank_excel.xlsx',
 'Linear_Models_Discriminants_Additive_Models_trees.R']

In [3]:
df = pd.read_csv('../data/bank.csv', ';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

## Data analysis

分析一下有什么啊

| col | method | meaning | more |
| ----- | ------------- | ----------- | --- |
| age：| 原始数据 | 年龄 | numeric |
| job：| one-hot | 工作 | 字符串 |
| marital：| one-hot | 婚姻状态 | {"married","divorced","single"} 三种 |
| education：| one-hot | 教育水平 | {"unknown","secondary","primary","tertiary"} 四种 |
| default：| 0-1编码 | 有无违约信用 | yes/no |
| balance：| 原始数据 | 欧元，年平均余额 | numeric |
| housing：| 0-1 | 有无住房贷款 | yes/no |
| loan：| 0-1 | 有无私人贷款 | yes/no |
| contact：| one-hot | 联系方式 | {"unknown","telephone","cellular"} 三种 |
| day：| 原始数据 | 本月上次联络日 | numeric |
| month：| 整数编码 | 本年上次联络月 | {"jan", "feb", "mar", ..., "nov", "dec"} |
| duration：| 原始数据 | 上次联络时长 | numeric |
| campaign：| 原始数据 | number of contacts performed during this campaign and for this client | numeric |
| pdays：| 原始数据 | 上次和客户联络后经过的时间 | numeric |
| previous：| 原始数据 | 此次campaign之前和这个客户联络的次数 | numeric |
| poutcome：| one-hot | 此次之前的campaign的结果 | {"unknown","other","failure","success"} |
| y：| 0-1 | 客户是否订阅短期存款 | yes/no |

In [4]:
df["month"] = df["month"].astype(pd.CategoricalDtype(['jan', 'feb', 'mar','apr', 'may', 'jun', 'jul', 'aug', 'sep',  'oct', 'nov', 'dec'], ordered=True)).cat.codes
dummies_df = pd.get_dummies(df, columns=["job", "marital", "education", "default", "housing", "loan", "contact", "poutcome", "y"])

In [6]:
dummies_df.columns

Index(['age', 'balance', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'poutcome_failure',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown', 'y_no',
       'y_yes'],
      dtype='object')

In [1]:
dummies_df.head()

NameError: name 'dummies_df' is not defined

## Define functions

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split


def loadData(filepath: str) -> pd.DataFrame:
    """
    Read data from file
    @param filepath: the path of the data file;
    @return: the data in DataFrame object;
    """
    df = pd.read_csv(filepath, ';')
    return df


def processData(origin_data: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
    """
    Process the original data
    @param origin_data: original data in DataFrame object;
    @return: the data like (datas, labels) after processing;
    """
    origin_data["month"] = origin_data["month"].astype(pd.CategoricalDtype(['jan', 'feb', 'mar','apr', 'may', 'jun', 'jul', 'aug', 'sep',  'oct', 'nov', 'dec'], ordered=True)).cat.codes
    dummies_df = pd.get_dummies(origin_data, columns=["job", "marital", "education", "default", "housing", "loan", "contact", "poutcome", "y"])
    
    return dummies_df


def split_dataset(data):
    X = data[data.columns[0:-1]].values
    y = data[data.columns[-1]].values
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
    return X_train, X_test, y_train, y_test

## Random Forest

c:\users\76519\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\76519\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\76519\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\76519\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\76519\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([1.       , 1.       , 1.       , 1.       , 0.9998349])

Accuracy: 14917/14920 - 0.9997989276139411

In [13]:
def main():
    data = loadData('../data/bank.csv')
    data = processData(data)
    
    print(data.head())

In [14]:
main()

   age  balance  day  month  duration  campaign  pdays  previous  job_admin.  \
0   30     1787   19      9        79         1     -1         0           0
1   33     4789   11      4       220         1    339         4           0
2   35     1350   16      3       185         1    330         1           0
3   30     1476    3      5       199         4     -1         0           0
4   59        0    5      4       226         1     -1         0           0

   job_blue-collar  ...  loan_yes  contact_cellular  contact_telephone  \
0                0  ...         0                 1                  0
1                0  ...         1                 1                  0
2                0  ...         0                 1                  0
3                0  ...         1                 0                  0
4                1  ...         0                 0                  0

   contact_unknown  poutcome_failure  poutcome_other  poutcome_success  \
0                0                 0               0                 0
1                0                 1               0                 0
2                0                 1               0                 0
3                1                 0               0                 0
4                1                 0               0                 0

   poutcome_unknown  y_no  y_yes
0                 1     1      0
1                 0     1      0
2                 0     1      0
3                 1     1      0
4                 1     1      0

[5 rows x 42 columns]